.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About {
  display: flex;
  flex-direction: column;
  color: yellow;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
.About-buttn {
  color: #61dafb;
  border-radius: 4px;
  border-color: gray;
  background-color: wheat;
  width: 100px;
  margin: 0 0 8px 0;
}

.About-size-containger {
  display: flex;
  flex-direction: row;
  color: yellow;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.About-size-px {
  width: 200px;
  background-color: red;
  
}

.About-size-percent {
  width: 50%;
  background-color: blue;
  min-width: 200px;
}
.About-size-vw {
  width: 20vw;
  background-color: green;
  min-width: 200px;
}